node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.env

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.vscode/
.idea/
.DS_Store

/dist
/build
/out
.next

client/node_modules/
client/.env.local
client/.next
client/.vercel
client/build
client/public/static

coverage/
.nyc_output/

Thumbs.db
.DS_Store
